<body>
    
    <!-- About header -->
    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">About Proof of Snake</h4>
                    <p class="text-muted">Are you good at the classic Snake game and have a gambling problem...look no further! <br/>
                        Proof of Snake is a Web3 version that allows you take the game you played as kid and win crypto!!! <br/>
                        Click the "READ THE RULES!!!" button for more info. </p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">GitHub</h4>
                    <ul class="list-unstyled">
                    <li><a href="https://github.com/Encode-Bootcamp-Group-4/CapStone_Project" class="text-white" target="_blank">Source code</a></li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container">
                <a href="/landing-page" class="navbar-brand d-flex align-items-center">
                <img src="../../assets/Images/snakeHead.png" width="20" height="20" class="d-inline-block align-top" alt="" loading="lazy">
                <strong>Proof of Snake</strong>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>

    <main>
    <div class="backgroundImage"></div>
    <!-- Title and Rules section (Edit modal for game rules) -->
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Play Proof of Snake!</h1>
            <p class="lead text-muted">It's the classic snake game...but for degens!</p>
            <p>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    READ THE RULES!!!
                </button>
            </p>
            </div>
        </div>
    </section>

    <!-- Play and submit game section -->
    <section class="py-1 text-center container">
        <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h4>Enter amount you want to bet! (Min. 0.01 ETH)</h4>
                <input type="string" class="form-control" min=0.01 max=100 placeholder="Bet Size" [formControl]="_bet"/>
                <button class="btn btn-primary my-2" (click)="submitGame(_bet.value)">PLAY AND SUBMIT GAME</button>
            </div>
        </div>
        &nbsp;
    </section>

    <!-- Game catalog section -->
    <div class="album py-5 bg-light" id="openGames">
        <div class="py-5 text-center container">
            <h2 class="text-center">GAME CATALOG</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                  <thead>
                    <tr>
                        <th scope="col">Game Id</th>
                        <th scope="col">Bet Size (ETH)</th>
                        <th scope="col">Score</th>
                        <th scope="col">Button</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let game of gameDataArr">
                        <td>{{game.gameId}}</td>
                        <td>{{game.betSize/1000000000000000000}}</td>
                        <td>{{game.score}}</td>
                        <td>
                            <button class="btn btn-primary my-2" (click)="challengeGame(game.gameId, game.betSize)">CHALLENGE</button>
                        </td>
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>
    </div>

    <!-- Withdraw winnings section -->
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Click button below to withdraw your winnings!</h1>
            <p>
                <button type="button" class="btn btn-primary" (click)="withdrawWinnings()">
                    WITHDRAW WINNINGS
                </button>
            </p>
            </div>
        </div>
    </section>

    <!-- Rules Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Proof of Snake Rules</h1>
            </div>
            <div class="modal-body">
            <b>Option 1:</b> <br/>
            Click the "PLAY AND SUBMIT GAME" button below, which allows you stake <b>any amount of ETH</b> and play a game of snake. <b>(Min. = 0.01 ETH)</b> <br/>
            After you have finished, your score is saved and added to the game catalog below. 
            A challenger can then challenge your game, but needs to match your stake to play. If they beat your score, then your <b>staked ETH goes to the challenger</b> and your game disappears from the game catalog.
            However, if the challenger fails to beat or ties your score, then you get <b>the staked ETH from the challenger</b> and your game lives on! <br/> <br/>
            <b>Option 2:</b> <br/> 
            Be a challenger to existing games that have not been beaten by clicking the "CHALLENGE" button on the games below in the game catalog. <br/>
            <b>Re-read Option 1 to understand challenger role.</b> <br/> <br/>
            <b>ATTENTION: YOU ONLY GET ONE SHOT SO DON'T *UCK IT UP!</b> <br/> <br/>
            <b>ALRIGHT, CLICK THE "CLOSE" BUTTON AND PLAY PROOF OF SNAKE!!!!!</b>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CLOSE</button>
            </div>
        </div>
        </div>
    </div>
</main>
