<div>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-3 col-md-8 mx-auto">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h1 class="card-title">Proof of Snake</h1>
                        <p class="card-text">Click below to go to play.</p>
                        <button
                            class="btn btn-primary"
                            (click)="playSnake()" 
                            >
                            Play Proof of Snake
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>