<!--
<div>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-3 col-md-8 mx-auto">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h1 class="card-title">Proof of Snake</h1>
                        <p class="card-text">Click below to go to play.</p>
                        <button
                            class="btn btn-primary"
                            (click)="playSnake()" 
                            >
                            Play Proof of Snake
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
-->

<section class="py-5 text-center container" id="topPart">
    <div class="row py-lg-5" id="topPartContent">
        <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Proof of Snake | Game Dashboard</h1>
        <p class="lead text-muted">
            <b>Welcome to Proof of Snake</b><br>The classic snake game but with high stakes!<br><br>
            Create a new game and stake your desired amount, or pick a game below to challenge that opponent's attempt!<br><br>
            After selecting a challenge or confirming staked amount, you have one chance to set a score. <b>No retries!</b>
             </p>
        <p>
            <a href="#" class="btn btn-primary my-2" id="PostNewGameButton">Post New Game</a>
            <a href="#" class="btn btn-secondary my-2" id="ViewLeaderboardButton">View Leaderboard</a>
        </p>
        </div> 
    </div>
    </section>
    
    <div class="album py-5 bg-light">
    <div class="container">
    
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
            <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
    
            <div class="card-body">
                <p class="card-text">
                    <b>Player:&nbsp;</b> Max<br>
                    <b>Score:&nbsp;</b> 34 points<br>
                    <b>Stake:&nbsp;</b> 0.23 ETH       
                </p>
                <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Challenge</button>
                </div>
                <small class="text-muted">Expires In: 15h</small>
                </div>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
    
            <div class="card-body">
                <p class="card-text">                    
                    <b>Player:&nbsp;</b> shawty95<br>
                    <b>Score:&nbsp;</b> 12 points<br>
                    <b>Stake:&nbsp;</b> 0.21 ETH   </p>
                <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Challenge</button>
                </div>
                <small class="text-muted">Expires In: 2h</small>
                </div>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
    
            <div class="card-body">
                <p class="card-text">                    
                    <b>Player:&nbsp;</b> 0xRicas<br>
                    <b>Score:&nbsp;</b> 23 points<br>
                    <b>Stake:&nbsp;</b> 0.451 ETH   </p>
                <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Challenge</button>
                </div>
                <small class="text-muted">Expires In: 27m</small>
                </div>
            </div>
            </div>
        </div>
    
        <div class="col">
            <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
    
            <div class="card-body">
                <p class="card-text">                    
                    <b>Player:&nbsp;</b>Bryce<br>
                    <b>Score:&nbsp;</b> 13 points<br>
                    <b>Stake:&nbsp;</b> 0.982 ETH   </p>
                <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Challenge</button>
                </div>
                <small class="text-muted">Expires In: 54h</small>
                </div>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
    
            <div class="card-body">
                <p class="card-text">                    
                    <b>Player:&nbsp;</b>Marco<br>
                    <b>Score:&nbsp;</b> 36 points<br>
                    <b>Stake:&nbsp;</b> 0.212 ETH   </p>
                <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Challenge</button>
                </div>
                <small class="text-muted">Expires In: 32h</small>
                </div>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
    
            <div class="card-body">
                <p class="card-text">                    
                    <b>Player:&nbsp;</b> Marco<br>
                    <b>Score:&nbsp;</b> 56 points<br>
                    <b>Stake:&nbsp;</b> 0.1192 ETH   </p>
                <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Challenge</button>
                </div>
                <small class="text-muted">Expires In: 12m</small>
                </div>
            </div>
            </div>
        </div>
    
        <div class="col">
            <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
    
            <div class="card-body">
                <p class="card-text">                    
                    <b>Player:&nbsp;</b> Max<br>
                    <b>Score:&nbsp;</b> 32 points<br>
                    <b>Stake:&nbsp;</b> 0.092 ETH   </p>
                <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Challenge</button>
                </div>
                <small class="text-muted">Expires In: 71h</small>
                </div>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
    
            <div class="card-body">
                <p class="card-text">                    
                    <b>Player:&nbsp;</b> shawty95<br>
                    <b>Score:&nbsp;</b> 33 points<br>
                    <b>Stake:&nbsp;</b> 0.1 ETH   </p>
                <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Challenge</button>
                </div>
                <small class="text-muted">Expires In: 3h</small>
                </div>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
    
            <div class="card-body">
                <p class="card-text">                    
                    <b>Player:&nbsp;</b> shawty95<br>
                    <b>Score:&nbsp;</b> 56 points<br>
                    <b>Stake:&nbsp;</b> 1.22 ETH   </p>
                <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Challenge</button>
                </div>
                <small class="text-muted">Expires In: 21h</small>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    
    